body { font:normal 18px Arial, Helvetica; color:#444; background-color: #ccc ;margin: 0; padding: 0; outline: none;line-height:1.6;}
.panel {margin:5px auto;padding: 10px;max-width:950px;background-color: #fafafa ;}
.paneloutbreak { display: flex; align-items: center; justify-content: center; }

/* content */
a { text-decoration: underline; color: #0000ee; }
a:visited { color: inherit; }
a:hover { text-decoration: none; }
a:active, /* set class "active" for current pages*/
a.active { color: #2E6465; }
a[href^="#"] { font-style: italic ; } /* anchor links staying on the current page */
a[href^="//"],
a[href^="http"] { background: linear-gradient(transparent,transparent),url("data:image/svg+xml,%3C%3Fxml version=%221.0%22 encoding=%22UTF-8%22%3F%3E %3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2212%22 height=%2212%22%3E %3Cpath fill=%22%23fff%22 stroke=%22%2336c%22 d=%22M1.5 4.518h5.982V10.5H1.5z%22/%3E %3Cpath fill=%22%2336c%22 d=%22M5.765 1H11v5.39L9.427 7.937l-1.31-1.31L5.393 9.35l-2.69-2.688 2.81-2.808L4.2 2.544z%22/%3E %3Cpath fill=%22%23fff%22 d=%22M9.995 2.004l.022 4.885L8.2 5.07 5.32 7.95 4.09 6.723l2.882-2.88-1.85-1.852z%22/%3E %3C/svg%3E") no-repeat center right; padding-right: 13px; } /* external links */
a[href^="tel:"] { color: inherit; text-decoration: inherit; }
img { border: 0; max-width: 100%;}
ul { list-style:none; list-style-image: url('data:image/gif;base64,R0lGODlhBQANAIAAAGOMnP///yH5BAEAAAEALAAAAAAFAA0AAAIJjI+pu+APo4SpADs'); margin-left: 15px;}

/* headings*/
h1,h2,h3,h4,h5,h6{color:#000;padding:0; margin:30px 0 0 0;}
h1{font-size: 1.6em; font-weight: normal; }
h2{font-size: 1.4em; font-weight: normal; border-bottom: 1px solid #474747; }
h3{font-size: 1.1em; border-bottom: 1px dotted #ccc; }
h4{font-size: 1.1em; font-weight: normal; }
h5{font-size: 1em; }
h6{font-size: 1em; font-weight: normal; font-style: italic; }
h1+h2 {margin-top: 2px;}
h2+h3 {margin-top: 2px;}
h3+h4 {margin-top: 2px;}
h4+h5 {margin-top: 2px;}
h5+h6 {margin-top: 2px;}

input {
    border: 0 solid #fff;
}
input[type='text'],
input[type='email'],
input[type='tel'] {
    width: 200px;  
    border-bottom: 1px solid #ccc;
}
select {
    background: transparent;
    border: 0;
}

@media only print, only screen and (min-width: 950px) {
    label.row2 {clear: both; float: left; width: 25%;}
    input.row2, select.row2 {float: right; width: 74%; margin-left: 0}
}
#qrcodeurl {
    float: right;
    height: 192px;
    margin: 0 0 5px 5px;
}

@media print {
    body,
    input {
        font-size: 12px ;
    }
}