input {
    border: 0 solid #fff;
}
input[type='text'],
input[type='email'],
input[type='tel'] {
    width: 200px;  
}
select {
    background: transparent;
    border: 0;
}

@media only print, only screen and (min-width: 950px) {
    label.row2 {clear: both; float: left; width: 25%;}
    input.row2, select.row2 {float: right; width: 74%; margin-left: 0}
}
#qrcodeurl {
    float: right;
    height: 192px;
    margin: 0 0 5px 5px;
}

@media print {
    body,
    input {
        font-size: 12px ;
    }
}